// PALETTE
$beige: #F5EEE3;
$pink: #C47AAB;
$blue: #6DC6D4;
$green: #A4CDA3;

$navbar: #333;
$background: #f5f5f5;
$light-border: #e2e2e2;
$dark-grey: #666;

// BOOTSTRAP
$link-color: darken($green, 20%);
$btn-primary-bg: $link-color;
$font-family-sans-serif: "Lato", "HelveticaNeue", "Helvetica", "sans-serif";
$headingsFontWeight: normal;

// MIXINS
@mixin box-model {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin rounded-bottom {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
  border-radius: 0 0 5px 5px;
}