<% provide(:title, 'About') %>
<h1>About</h1>

<p class="lead">OpenSit is a place where people who meditate can record their experiences and connect with each other.</p>

<p>We all share in the same highs and lows of the human condition, and more and more of us are choosing to meditate as means of cultivating peace and freedom, in this life.</p>

<p>We’re not interested in who or what you believe, but what you *practice*. What happens when you sit down on the cushion, and how does this regular practice affect your sense of wellbeing, and the way you think about and act within the world?</p>

<p>We can all benefit from recording our own insights, supporting each other’s practices, and sharing it all without fear of impinging upon taboo, tradition or dogma.</p>

<p>Anyone who has truly immersed themselves in contemplative practice knows that strange and wonderful things can and do happen on the cushion, and it’s time to talk about this honestly. The selflessness realised in authentic meditation is too important to stay under robes.</p>

<p>OpenSit is a contemplative expression platform that allows people to record and share their practice without having to cross reference blog posts, forum threads, emails and other scattered notes. Your profile and stream are available all in one place, as a searchable chronological record of what you have done and what has happened as a result.</p>

<p>OpenSit is not a discussion forum – users can make short comments on each other’s sits and diaries but there is no open forum to create new threads. OpenSit is built around the practice log. As a result, activity and discussion is centred around the particulars of real people and real practice.</p>

<p>Welcome to OpenSit.</p>

<p class="lead">What's coming next?</p>

<p>Lots.</p>
<ul>
	<li>Teacher/student functionality</li>
</ul>