<div class="section front-page">
  
  <section id="branding">
    
    <div class="hero-unit">
      <h1>Where meditators meet.</h1>
      <p>OpenSit is a place where ordinary people who engage in some form of regular meditation practice can record their experiences and connect with eachother.</p>
      <p><%= link_to "Join today!", new_user_registration_path, { :class => "btn btn-primary btn-large" } %></p>
    </div>
    
    <div class="three-panes">
      <div><h1>1</h1>Record your practice and insights; start your own diary today.</div>
      <div><h1>2</h1>Connect with other contemplatives.</div>
      <div><h1>3</h1>Learn more about OpenSit.</div>
    </div>
    
  </section> <!-- end section#branding -->
  
  <section id="global-sitstream">
    <h1>Global SitStream</h1>
    <h3>Join 240,000 users logging over 1 million hours of practice</h3>
    
    <% @sits.each do |sit| %>
 
      <%= render :partial => 'shared/sit-teaser', :locals => { :sit => sit } %>

    <% end %>
    
  </section> <!-- end section#global_sitstream -->

</div> <!-- end div.front-page -->