<div class="section messages">

  <section class="sidebar">
    <%= render 'sidebar-messages' %>
  </section>
  
  <section class="content new-message">
  	
    <%= render 'form' %>

  </section>
 </div>