<div class="section view-message">

  <section class="sidebar">
    <%= render 'sidebar-messages' %>
  </section>

  <article class="content message">

    <%= render 'message' %>

  </article>

</div>
