<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:Arial, sans serif; background: whitesmoke">
  	<br>
	  <table width="100%" cellspacing="0" cellpadding="0">
	    <tr>
	    	<td width="10%"></td>
	      <td width="80%"><img src="http://opensit.com/images/email_header.png" alt="OpenSit"></td>
	      <td width="10%"></td>
	    </tr>
	    <tr>
	    		<td width="10%"></td>
	        <td style="background:white; border:1px solid #CCC; padding:20px" align="left" width="80%">
	          <p style="color: #666;line-height: 1.4;">Hey,</p>

						<p style="color: #666;line-height: 1.4;">Just a quick email to let you know that the OpenSit blog is live!</p>

						<p style="color: #666;line-height: 1.4;"><a style="font-weight:bold;" href="http://blog.opensit.com/opensit-is-your-community?utm_medium=email&utm_source=blog_email">Read the first post: OpenSit is your community</a>.

						<p>We have loads more planned for the blog:</p>

						<ul style="color:#666">
							<li>Tips and advice on meditation.</li>
							<li>Ways to improve your journalling.</li>
							<li>News and updates on contemplative research.</li>
							<li>Interviews, videos, and lots more!</li>
						</ul>

						<p style="color: #666;line-height: 1.4;">The best way to keep up with the blog is to follow @<a href="https://twitter.com/opensit">opensit</a> or <a href="http://blog.opensit.com/rss/?utm_medium=email&utm_source=blog_email">subscribe by RSS</a>.</p>

	          <p style="color: #666;line-height: 1.4;">Happy sitting!</p>

	          <p style="color: #666;line-height: 1.4;">Dan<br><a href="http://opensit.com">opensit.com</a></p>

	          <p style="color: #999;line-height: 1.4;">P.S. Follow us on <a href="https://twitter.com/opensit?utm_source=welcome_mail&utm_medium=email&utm_campaign=twitter">Twitter</a>, <a href="https://www.facebook.com/opensit.meditation?utm_source=welcome_mail&utm_medium=email&utm_campaign=facebook">Facebook</a>, <a href="https://www.google.com/+Opensitmeditation?utm_source=welcome_mail&utm_medium=email&utm_campaign=google_plus">Google+</a> and <a href="http://github.com/danbartlett/opensit?utm_source=welcome_mail&utm_medium=email&utm_campaign=github">GitHub</a> (we're open source!)</p>

	        </td>
	    		<td width="10%"></td>
	    </tr>
		</table>
		<br><br><br>
  </body>
</html>