<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:Arial, sans serif; background: whitesmoke">
    <br>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10%"></td>
        <td width="80%"><img src="http://opensit.com/images/email_header.png" alt="OpenSit"></td>
        <td width="10%"></td>
      </tr>
      <tr>
          <td width="10%"></td>
          <td style="background:white; border:1px solid #CCC; padding:20px" align="left" width="80%">
            <p style="color: #666;line-height: 1.4;">Hi all,</p>

            <p style="color: #666;line-height: 1.4;">Imagine a situation where you could enhance your practice by meditating with people from anywhere in the world. We want to make this happen! But we need your help.</p>

            <p style="color: #666;line-height: 1.4;">OpenSit has a <a href="http://opensit.com/calendar?utm_source=calendar_mail&utm_medium=email&utm_campaign=host_a_group_sit">new calendar page</a> with listings for shared online meditation sessions, powered by Google Hangouts. We already have our first member hosting a daily 30 minute session. We are looking for more people who are also interested in hosting meditation sessions.</p>

            <p style="color: #666;line-height: 1.4;">Please let us know (by replying to this email) if you would be interested in hosting a regular time slot. It's a pretty simple process:
            <ol style="color: #666;line-height: 1.4;">
              <li style="color: #666;line-height: 1.4;">We create a Google Hangout link for you and add it to the group calendar</li>
              <li style="color: #666;line-height: 1.4;">You log in a minute before the meeting with either your favourite Dharma talk ready, or a guided meditation audio, or nothing at all!</li>
              <li style="color: #666;line-height: 1.4;">Set a timer and sit, share and inspire each other!</li>
              </ol></p>

            <p style="color: #666;line-height: 1.4;">Easy in. Easy out. Meditation happens!</p>

            <p style="color: #666;line-height: 1.4;">We will be scheduling a chat for people interested in learning more.</p>

            <p style="color: #666;line-height: 1.4;">For those just interested in joining rather than hosting a session; stay tuned for more!</p>

            <p style="color: #666;line-height: 1.4;">Dan<br><a href="http://opensit.com">opensit.com</a></p>

            <p style="color: #999;line-height: 1.4;">P.S. Follow us on <a href="https://twitter.com/opensit">Twitter</a>, <a href="https://www.facebook.com/opensit.meditation">Facebook</a>, <a href="https://www.google.com/+Opensitmeditation">Google+</a> and <a href="http://github.com/danbartlett/opensit">GitHub</a> (we're open source!)</p>

          </td>
          <td width="10%"></td>
      </tr>
    </table>
    <br>
  </body>
</html>