<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:Arial, sans serif; background: whitesmoke">
  	<br>
	  <table width="100%" cellspacing="0" cellpadding="0">
	    <tr>
    		<td width="10%"></td>
        <td style="background:white; border:1px solid #CCC; padding:20px" align="center" width="80%">
        <img src="http://opensit.com/images/logomark_trans_lg.png" width="200px" >
          <p style="font-size:1.3em; color: #666">You can now <strong>set goals</strong> and <strong>get feedback</strong> on your meditation practice!</p>
          <p style="font-size:1.3em; color: #666; margin-bottom: 1em;">Goals are a great way to strengthen your practice, and maintain accountability</p>
          <img style="margin-bottom:2em;" src="http://opensit.com/images/goal.png">

         	<br>
          <a style="margin:20px; background:#5cb85c; text-decoration:none; padding:20px; color:white; border-radius:5px; font-size: 1.6em;" href="http://opensit.com/goals?utm_source=mailer&utm_medium=email&utm_campaign=goals_mailer">Set your first goal</a>
          <br><br>
          <p style="font-size:1.3em; color: #666; margin-top: 2em;">If you have any thoughts or issues we'd love to hear from you! Just reply to this email.</p>
          <p style="font-size:1.3em; color: #666">Thanks,</p>
          <p style="font-size:1.3em; color: #666">Dan<br>OpenSit.com</p>

	        </td>
	    		<td width="10%"></td>
	    </tr>
		</table>
		<br>
  </body>
</html>