<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:Arial, sans serif; background: whitesmoke">
  	<br>
	  <table width="100%" cellspacing="0" cellpadding="0">
	    <tr>
	    		<td width="10%"></td>
	        <td style="background:white; border:1px solid #CCC; padding:20px" align="center" width="80%">
	          <h1 style="color: #333">We've been busy...</h1>
	        	<img src="http://opensit.com/images/logomark_trans_lg.png" width="300" >
	          <p style="font-size:1.3em; color: #333">Check out our <b>new design</b>! OpenSit is now fully responsive which means you can now browse and share your practice from your mobile or tablet.</p>
	         	<br>
	          <a style="margin:20px; background:#51924f; text-decoration:none; padding:15px; color:white; border-radius:5px; font-size: 2em;" href="http://opensit.com?utm_source=new_design_email">Take a look!</a>
	          <br><br>
	          <p style="font-size:1.3em; color: #333">We hope you like it. If you have any thoughts we'd love to hear from you! hello@opensit.com</p>
	          <p style="font-size:1.3em; color: #333">Thanks,</p>
	          <p style="font-size:1.3em; color: #333">Dan<br>opensit.com</p>
	          <p style="font-size:1.3em; color: #999">P.S. for future updates and cool meditation content you can follow us on <a href="https://twitter.com/opensit"><i class="fa fa-twitter"></i> Twitter</a>, <a href="https://www.facebook.com/opensit.meditation"><i class="fa fa-facebook"></i> Facebook</a>, and <a href="https://www.google.com/+Opensitmeditation"><i class="fa fa-google-plus"></i> Google+</a></p>

	        </td>
	    		<td width="10%"></td>
	    </tr>
		</table>
		<br>
  </body>
</html>