<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:Arial, sans serif; background: whitesmoke">
  	<br>
	  <table width="100%" cellspacing="0" cellpadding="0">
	    <tr>
	    		<td width="10%"></td>
	        <td style="background:white; border:1px solid #CCC; padding:20px" align="left" width="80%">
	          <p style="color: #666;line-height: 1.4;">Hey, thanks for joining the Fountainhead School ... </p>
	        </td>
	    		<td width="10%"></td>
	    </tr>
		</table>
		<br>
  </body>
</html>
