<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:Arial, sans serif; background: whitesmoke">
  	<br>
	  <table width="100%" cellspacing="0" cellpadding="0">
	    <tr>
	    	<td width="10%"></td>
	      <td width="80%"><img src="http://opensit.com/images/email_header.png" alt="OpenSit"></td>
	      <td width="10%"></td>
	    </tr>
	    <tr>
	    		<td width="10%"></td>
	        <td style="background:white; border:1px solid #CCC; padding:20px" align="left" width="80%">
	          <p style="color: #666;line-height: 1.4;">Hey,</p>

						<p style="color: #666;line-height: 1.4;">Thanks for joining OpenSit! We hope everything makes sense and you enjoy being part of our community.</p>

						<p style="color: #666;line-height: 1.4;">To get the most out of the site try <a href="http://opensit.com/users/edit?utm_source=welcome_mail&utm_medium=email&utm_campaign=fill_out_profile">filling out your profile</a>, <a href="http://opensit.com/explore/users/active?utm_source=welcome_mail&utm_medium=email&utm_campaign=make_new_friends">making some new friends</a>, and exploring our <a href="http://opensit.com/explore?utm_source=welcome_mail&utm_medium=email&utm_campaign=global_sitstream">Global SitStream</a>.

						<p style="color: #666;line-height: 1.4;">If you have any questions, suggestions or issues you can just reply to this email or send a new one to <a href="mailto:hello@opensit.com">hello@opensit.com</a>. My name is Dan, and I'll get back to you quickly. You can also tweet us at @<a href="https://twitter.com/opensit">opensit</a>.</p>

	          <p style="color: #666;line-height: 1.4;">Happy sitting!</p>

	          <p style="color: #666;line-height: 1.4;">Dan<br><a href="http://opensit.com">opensit.com</a></p>

	          <p style="color: #999;line-height: 1.4;">P.S. Follow us on <a href="https://twitter.com/opensit">Twitter</a>, <a href="https://www.facebook.com/opensit.meditation">Facebook</a>, <a href="https://www.google.com/+Opensitmeditation">Google+</a> and <a href="http://github.com/danbartlett/opensit">GitHub</a> (we're open source!)</p>

	        </td>
	    		<td width="10%"></td>
	    </tr>
		</table>
		<br>
  </body>
</html>