<form class="big-search" action="/search?type=users">
	<input type="text" name="q" class="col-md-12 big-search form-control" value="<%=params[:q]%>">
	<input type="hidden" name="type" value="<%=params[:type]%>">
</form>