<div class="sidebar col-md-3">
  <%= render 'search_tile' %>
</div>

<div class="clearfix col-md-9">
	<%= render :partial => "big_search" %>
	<% if !@sits.empty? %>
		<% @sits.each do |sit| %>
		  <%= render :partial => 'shared/sit_teaser', :locals => { :sit => sit } %>
		<% end %>
	<% else %>
		<div class="message-box"><h2>No matches</h2></div>
	<% end %>

	<div class="pagination-container">
		<%= will_paginate @sits, renderer: BootstrapPagination::Rails %>
	</div>
</div>