<%
if @sit.likers.blank? && current_user && current_user != @sit.user
  text = 'Like it?'
else
	linked_names = (@sit.likers.map { |u| u.display_name } * ', ')
	like_text = pluralize(@sit.likes.count, 'person')
	if @sit.likes.count == 1
			like_text << ' likes this'
		else
			like_text << ' like this'
		end
	if !@sit.likes.empty?
		text = "<a id='likers-list' data-container='body' data-toggle='tooltip' data-placement='top' title='#{linked_names}'> #{like_text} </a>"
	end
end
%>

<div id="who_likes">
	<%= raw text %>
</div>
