<%= render :partial => 'shared/me_pills' %>

<% if @feed_items.empty? %>
<div class="well well-large empty-message">
    <h1>You're not following anyone yet!</h1>
    <p>Go <strong><a href="/explore">explore</a></strong> and see what's going on!</p>
  </div>
<% end %>

<% @feed_items.each do |sit| %>

  <%= render :partial => 'shared/sit_teaser', :locals => { :sit => sit } %>

<% end %>

<div class="pagination-container">
  <%= will_paginate @feed_items, :class => 'pagination pagination-centered' %>
</div>
