<% provide(:title, 'My sits') %>
<div class="section my-sits">

  <section class="sidebar timeline">
    <%= render :partial => 'shared/sidebar-my-sits' %>
  </section>
  
  <section class="content socialstream">

  	<%= render :partial => 'shared/me-pills' %>
  	
  	<% @my_sits.each do |sit| %>

      <%= render :partial => 'shared/sit-teaser', :locals => { :sit => sit } %>

    <% end %>

    <% if !params[:y] %>
      <%= will_paginate @my_sits, :class => 'pagination pagination-centered' %>
    <% end %>
  </section>
 </div>