<% provide(:title, 'My sits') %>
<div class="section my-sits">

  <section class="sidebar">
    <%= render :partial => 'shared/sidebar-me' %>
  </section>
  
  <section class="content socialstream">

  	<%= render :partial => 'shared/me-pills' %>
  	
  	<% @my_sits.each do |sit| %>

      <%= render :partial => 'shared/sit-teaser', :locals => { :sit => sit } %>

    <% end %>

    <%= will_paginate @sits, :class => 'pagination pagination-centered' %>
  </section>
 </div>