<h3><%= @title %></h3>
<hr>

<% if @users.any? %>
  <div class="user_avatars">
    <% @users.each do |user| %>
      <%= link_to avatar(user), user %>
    <% end %>
  </div>
<% else %>
  <div class="well">
    <p>No connections yet!</p>
  </div>
<% end %>