<h3 class="title"><%= @title %></h3>
<hr>

<% if @users.any? %>
  <div class="user_avatars">
    <% @users.each do |user| %>
      <%= small_avatar_of(user) %>
    <% end %>
  </div>
<% else %>
  <div class="well">
    <p>No connections yet!</p>
  </div>
<% end %>