<div class="sidebar col-md-3">
  <%= render :partial => "shared/user_summary" %>
</div>

<div class="clearfix col-md-9">
	<h3><%= @title %></h3>
	<hr>

	<% if @users.any? %>

	  <div class="user_avatars">
	    <% @users.each do |user| %>
	      <%= small_avatar_of(user) %>
	    <% end %>
	  </div>
	<% else %>
	  <div class="message-box">
	    <h2>No connections yet!</h2>
	  </div>
	<% end %>

</div>
