<%= render :partial => 'shared/other-pills' %>

<% if @sits.empty? %>
  <div class="well well-large empty-message">
    <% if current_user == @user %>
      <h1>You haven't logged any practice yet!</h1>
      <p>Share your practice with others, <%= link_to 'add a sit or diary', new_sit_path %>.</p>
    <% else %>
      <h1>Zzzz..</h1>
      <p>This user hasn't logged any practice yet.</p>
    <% end %>
  </div> 
<% end %>

<% @sits.each do |sit| %>

  <%= render :partial => 'shared/sit-teaser', :locals => { :sit => sit } %>

<% end %>

<%= will_paginate @sits, :class => 'pagination pagination-centered' %>