<div class="sidebar col-md-3">
  <%= render 'explore_tile' %>
</div>

<div class="clearfix col-md-9">
	<% if !@users.empty? %>
		<% @users.each do |user| %>
			<%= render :partial => 'shared/user', :locals => { :u => user } %>
		<% end %>
	<% else %>
		<div class="message-box"><h2>No matches</h2></div>
	<% end %>

	 <div class="pagination-container">
   	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
   </div>
</div>