<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=848416401858718&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="col-lg-12 page">
	<div class="message-box welcome-box">
	  <h2>Welcome to our community!</h2>
	  <p>Here's a few things you should know.</p>
	  <div class="points">
	  	<div class="point"><div class="icon"><i class="fa fa-dashboard"></i></div><div class="text"> Try <%= link_to 'setting a goal', goals_path %> and get feedback on how well you're doing.</div></div>
	  	<div class="point"><div class="icon"><i class="fa fa-book"></i></div><div class="text"> Your journal is public by default. That means anyone can read it. There is also a private journal option under <%= link_to 'My profile', edit_user_registration_path %>.</div></div>
      <div class="point centered"><div class="icon"><i class="fa fa-share"></i></div><div class="text">Keep up to date with us!
	  		<div class="fb-like" data-href="http://opensit.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
	  		<div class="twitter-follow-container">
	  			<a href="https://twitter.com/opensit" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @opensit</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
				</div>
			</div>
    </div>

	  <div class="my-actions">
	  	<a href="/" class="btn btn-lg btn-primary">Ok, got it!</a>
	  </div>
	</div>
</div>

<!-- Google Code for Sign up Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1018028963;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "vmUsCI2WuggQo8e35QM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1018028963/?label=vmUsCI2WuggQo8e35QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Facebook Conversion Code for Sign up -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6015635779603';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6015635779603&amp;value=0&amp;currency=USD" /></noscript>