<div class="col-lg-12 page">
	<div class="message-box welcome-box">
	  <h2>Welcome to our community!</h2>
	  <p>Here's a few things you should know.</p>
	  <div class="points">
	  	<div class="point"><div class="icon"><i class="fa fa-book"></i></div><div class="text"> Your journal is public by default. That means anyone can read it. There is also a private journal option under <%= link_to 'My profile', edit_user_registration_path %>.</div></div>
      <div class="point"><div class="icon"><i class="fa fa-globe"></i></div><div class="text"> We're an open community, and open source. That means <a href="/contribute">you can help us build OpenSit</a>!</div></div>
      <div class="point"><div class="icon"><i class="fa fa-group"></i></div><div class="text"> Tell us a bit about yourself; <%= link_to 'fill out your profile and add a picture', edit_user_registration_path %>.</div></div>
    </div>

	  <div class="my-actions">
	  	<a href="/" class="btn btn-lg btn-primary">Ok, got it!</a>
	  </div>
	</div>
</div>

<!-- Google Code for Sign up Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1018028963;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "vmUsCI2WuggQo8e35QM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1018028963/?label=vmUsCI2WuggQo8e35QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Facebook Conversion Code for Sign up -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6015635779603';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6015635779603&amp;value=0&amp;currency=USD" /></noscript>