<div class="col-lg-12 page">
	<div class="message-box welcome-box">
	  <h2>Welcome to our community!</h2>
	  <p>Here's a few things you should know.</p>
	  <div class="points">
	  	<div class="point"><div class="icon"><i class="fa fa-dashboard"></i></div><div class="text"> Try <%= link_to 'setting a goal', goals_path %> and get feedback on how well you're doing.</div></div>
	  	<div class="point"><div class="icon"><i class="fa fa-book"></i></div><div class="text"> Your journal is public by default. That means anyone can read it. There is also a private journal option under <%= link_to 'My profile', edit_user_registration_path %>.</div></div>
    </div>
	  <div class="my-actions">
	  	<a href="/" class="btn btn-lg btn-primary">Ok, got it!</a>
	  </div>
	</div>
</div>
