<% # After AJAX load, form has no access to @sit so reload it 
@sit ||= Sit.find(params[:favourite][:favourable_id]) %>
<%= form_for(@sit.favourites.find_by_user_id(current_user.id),
html: { method: :delete}, remote: true) do |f| %>
	<div><%= f.hidden_field :favourable_id, :value => @sit.id %></div>
  <%= link_to '<i class="icon-heart"></i> Favourited'.html_safe, '#', :title => 'Remove from favourites', :class => 'toggle-favourite btn' %>
<% end %>