<div class="sit-container">
	<div class="tile stamp col-md-3 header-tile">
		<div class="content">
			<h2>My Favourites</h2>
			<p><strong>Tip!</strong> Click <i class="fa fa-bookmark-o"></i> on any sit to save it to your favourites.</p>
		</div>
	</div>
	<% @fav_sits.each do |f| %>
	  <%= render :partial => 'shared/sit_teaser_block', :locals => { :sit => f, :width => 3 } %>
	<% end %>
</div>