<h3 class="title">My Favourites</h3>
<hr>

<% if @favs.empty? %>
  <div class="well well-large empty-message">
    <h1>You don't have any favourites yet!</h1>
    <p>Add something to your favourites by clicking the heart icon.</p>
  </div>
<% end %>

<% @favs.each do |f| %>
  <%= render :partial => 'shared/sit_teaser', :locals => { :sit => f } %>
<% end %>