<div class="brand-header">
  <a href="/"><%= image_tag 'logomark_trans.png', class: 'main-logo' %>
  <p class="opensit">opensit</p></a>
  <div class="already-signed-up">Already signed up? <a href="<%=new_user_session_path%>" class="btn btn-default">Login</a></div>
</div>