<div class="brand-header clearfix">
  <h1 class="opensit">Diary for Alan</h1>
  <div class="already-signed-up">Already signed up? <a href="<%=new_user_session_path%>" class="btn btn-default">Login</a></div>
</div>
