<ul class="nav nav-tabs">
  <li <%='class=active' if params[:action] == "me" %>><%= link_to 'SocialStream', me_path %></li>
  <li <%='class=active' if params[:action] == "my_sits" %>><%= link_to 'My sits', my_path %></li>
  <li><a href="#">My groups</a></li>
  <li><a href="#">My favourites</a></li>
</ul>