<ul class="nav nav-pills">
  <li <%='class=active' if params[:action] == "show" %>><%= link_to 'Sits', user_path %></li>
  <li <%='class=active' if params[:action] == "bio" %>><%= link_to 'Bio', '/users/' + params[:id] + '/bio' %></li>
</ul>