<h4>My SitStream</h4>
<hr>

<% if !@user.sits.empty? %>
	<ul>
	<%= timeline(@links) %>
	</ul>
<% else %>
	<div class="well">
		<p>You will be able to browse your sits by month and year here.</p>
	</div>
<% end %>

