<%= render 'shared/me-header' %>

<div class="well my-timeline">
	<% if !@user.sits.empty? %>
		<ul>
		<%= timeline(@links) %>
		</ul>
	<% else %>
		<div class="well no-sits-yet">
			<p>You will be able to browse your sits by month and year here.</p>
		</div>
	<% end %>
</div>

