<section class="text-section">

	<h1>About</h1>

	<p class="one-line">OpenSit is a place where people who meditate can record their experiences and connect with each other.</p>

	<p>More and more of us are turning to meditation as a way of bringing wisdom, happiness and peace into our lives. Millions of individuals, along with a growing body of scientific research, are recognising the potential for meditation to <strong>train our minds and change our brains</strong>.

	<p>I built OpenSit through my own passion for meditation. I have been sitting for half a decade, after discovering meditation through the <a href="https://www.buddhistgeeks.com/2011/06/the-core-features-of-pragmatic-dharma/">Pragmatic Dharma movement</a>.

	<p>This is a new movement that is refining and improving the core technology of meditation so that anyone can understand and radically alter their own levels of well-being, without having to wade through religious myths or spiritual gurus:

	<blockquote>"...a movement that seeks to preserve core meditation technology and supports, integrate helpful aspects from across traditions, refine the techniques and maps through exploration and verification, and spread the message that it can be done. It is also a movement to strip away the aspects of dogma, ritual,rigid hierarchy, myth and falsehood that hinder high-level practice and keep the culture of meditation mired in unhelpful taboos and misplaced effort."</blockquote>

	<p>This movement towards transparency and honesty naturally emphasises <strong>practice over belief</strong>. Journalling your practice is a great way to reflect on your own journey, and leaves interesting trails for others to study. OpenSit is firmly built around the practice journal, with an added social element so that you can follow other peoples journals.</p>

	<p><strong>The culture surrounding meditation is evolving</strong>. OpenSit is community exploring the ways in which think about practice in a globalised world, the ways we can support each other, and the effects of meditation itself, from equanimity, to energetics to enlightenment.</p>

	<h2>Our Principles</h2>
	<p class="one-line">We're all about <strong>building a community</strong> around <strong>authentic meditation</strong>, fuelled by our <strong>desire to awaken</strong>.</p>

	<p>Sincerity over seriousness and spiritualising. whether our lives are great, horrendous or boring, what matters is our sincerity to know things as they are.</p>

	<p>Recognising that we all have the POTENTIAL to WAKE UP



	<div class="row principles">
	  <div class="pane col-lg-4">
	    <h3>Positive Intent</h3>
	    <p>Cherishing and cultivating our inherent positivity to take responsibility for our own well-being, through meditation. Cultivating the intent to better understand ourselves, and live consciously and compassionately.</p>
	  </div>
	  <div class="pane col-lg-4">
			<h3>Getting Real!</h3>
			<p>Harnessing our positive intent through practical, proven techniques that work within our busy modern lives. Building a community around the practice journal keeps us focused on exactly that - <em>practice</em>.</p>
	  </div>
	  <div class="pane col-lg-4">
	    <h3>Mutual Support</h3>
	    <p>Meditation is often seen as a solitary pursuit that many of us feel uncomfortable discussing with others. But we don't have to go it alone! We're in this together. A community gives us a network of support.</p>
	  </div>
	</div>

	<p>And most importantly <strong>being open</strong>, in three different ways. Being open about our practice, which is itself the process of being open to our experience.</p><br>

	<p>Being open about meditation itself - talking honestly about benefits, states, and stages without fear of impinging upon taboo or dogma. We want to break open meditation itself, a millenia old tradition with extraordinary potential that has historically been distorted through religious and spiritual beliefs. We want to help distill its potent essence and make it available to anyone who is willing to give it a few minutes a day.</p><br>
	<p>But we don't just talk the talk - OpenSit is itself an experiment in openness. It is completely open source. That means anyone can view the code behind it and help out. We believe transparency builds trust and we want you to help build our community and have a say in its direction.</p>

	<h2>Our Goals</h2>
	<ul>
		<li>To <strong>establish free community for people to share their meditation practice</strong>, and longer term develop a more sophisticated contemplative expression platform that will innovate in the ways we share, understand and teach meditation practice.</li>
		<li>To <strong>publish content</strong> that inspires others to try meditation, and that furthers the global understanding and impact of meditation.</li>
		<li>To encourage <strong>a pragmatic, DIY approach to meditation</strong>, that emphasises transparency and practice over dogma or tradition, and a spirit of adventure and mutual support over fantasy or fashion. Journals in particular help demystify meditation.</li>
	</ul>

	<p class="lead">We're just starting out. <a href="/contact">Please let us know what you think</a>.</p>

	<blockquote>
		A human being is part of the whole called by us universe, a part limited in time and space. We experience ourselves, our thoughts and feelings as something separate from the rest. A kind of optical delusion of consciousness. This delusion is a kind of prison for us, restricting us to our personal desires and to affection for a few persons nearest to us. Our task must be to free ourselves from the prison by widening our circle of compassion to embrace all living creatures and the whole of nature in its beauty. The true value of a human being is determined by the measure and the sense in which they have obtained liberation from the self. We shall require a substantially new manner of thinking if humanity is to survive. (Albert Einstein, 1954)
	</blockquote>

</section>