<section class="page text-section">

	<h1>About</h1>

	<p class="lead">OpenSit is a place where people who meditate can record their experiences and connect with each other.</p>
	<%= image_tag 'logomark_trans_lg.png', class: 'logomark' %>

	<p>More and more of us are turning to meditation as a way of bringing wisdom, happiness and peace into our lives. Millions of individuals, along with a growing body of scientific research, are recognising the potential for meditation to <strong>train our minds and change our brains</strong>.

	<p>My name is <a href="http://danbartlett.co.uk">Dan</a>, and I built OpenSit through my own passion for meditation. I have been sitting for half a decade, after discovering meditation through the <a href="https://www.buddhistgeeks.com/2011/06/the-core-features-of-pragmatic-dharma/">Pragmatic Dharma movement</a>.

	<p>This is a relatively new movement that is <strong>refining and improving the core technology of meditation</strong> so that anyone can radically alter their own levels of well-being, without having to wade through religious myths or spiritual gurus.

	<p>This movement reflects a wider cultural change in our understanding of meditation. The practices and doctrines of hundreds of previously esoteric traditions are now available to us, and we are free to verify their practical aspects whilst <strong>taking apart the unhelpful myths, superstitions, dogmas and falsehoods</strong> that prevent the free discussion and dissemination of authentic meditation.</p>

	<p>This shift towards transparency and honesty naturally emphasises <strong>practice over belief</strong>. Journalling your practice is a great way to reflect on your own journey, and sharing your notes is a great way to get support and feedback. OpenSit is firmly built around the practice journal, with an added social element so that you can follow other peoples journals.</p>

	<p><strong>The culture surrounding meditation is evolving</strong>. OpenSit is community exploring what modern meditation practice means to us, the ways we can support each other, and the effects of meditation itself, from equanimity, to energetics to enlightenment.</p>

	<h2>Openness</h2>

	<p>OpenSit is rooted in <strong>the spirit of openness</strong>.

	<p>But we don't just talk the talk &mdash; OpenSit is itself an experiment in openness. We're an <strong>open community</strong>, and all the code that runs OpenSit is <strong>open source</strong>. That means it's <strong>free to use, redistribute and hack</strong>. Anyone can set up a local version of our platform and submit new features or bug fixes back to us. After the contribution is approved it gets added to the main site, and <em>voila</em> you've made our community a better place.</p>

	<p>Even if you don't know how to code, we are keen to hear your ideas, suggestions and issues. We know that transparency builds trust, and we want you to help build our community and have a say in its direction. We think <strong>the intersection of modern meditation, contemplative science and online communities is really exciting</strong>, and we want you to help us explore this amazing synergy.</p>

	<p>So whether you're a seasoned programmer or just have a few good ideas, <strong>check out our <a href="/contribute">Contribute</a> guide to learn more</strong>.</p>

	<h2>What we want to achieve</h2>

	<ul>
		<li>To <strong>establish free community for people to share their meditation practice</strong>, and over time develop a more sophisticated contemplative expression platform that will innovate in the ways we share, understand and teach meditation practice.</li>
		<li>To <strong>publish content</strong> that inspires others to try meditation, that helps existing meditators improve their practice, and that furthers the global understanding and impact of meditation. The selflessness realised in authentic meditation is too important to stay under robes!</li>
		<li>To <strong>promote a pragmatic, DIY approach to meditation</strong>, that emphasises transparency and practice over myth and belief, and a spirit of adventure and mutual support over fantasy or fashion. We want to open source meditation itself, and we think practice journals are a key part of this.</li>
	</ul>

</section>