<section class="page text-section">

	<h1>Help us build OpenSit!</h1>

	<p class="lead">OpenSit is an open community, and you can help us build it! If you can code, you can get get stuck in straight away with our <a href="https://github.com/danbartlett/opensit/">GitHub README</a>.</p>
	<i class="fa fa-github"></i>

	<p>OpenSit is <strong>open source</strong>. This means that, in contrast to standard closed source projects, anyone is free to download, run and hack the code behind OpenSit. Why did we choose to go open source?</p>

	<ul>
		<li>The power of collaboration. Because anyone can download our code, anyone can set up their own local version and build new features or fix bugs. This gives us access to huge pool of volunteer talent and creativity.</li>
		<li>Furthermore, collaborators are not paid employees motivated by salaries, promotions and deadlines, but people who care enough to contribute freely.</li>
		<li>Collaborators are geeks who are passionate about security, stability and elegant code &mdash; things that closed services can often undervalue until the codebase is a sprawling mess or the service is hacked.</li>
		<li>By working together, we can learn from each other and share knowledge whilst building an awesome community that anyone can use. We want to build a legion of mindful coders!
		<li><a href="http://en.wikipedia.org/wiki/Open_source_cola">There's even open source cola now</a>. Mmmmm, cola.</li>
	</ul>

	<p class="lead">But it's not just about the code!</p>

	<p>We also strive to be transparent in our decision making: what we want to achieve, what we decide to develop, and how we choose to build it. You can see our current ideas and feature requests on <a href="https://github.com/danbartlett/opensit/issues?direction=desc&sort=updated&state=open">GitHub Issues</a>.</p>

	<p>You don't need to code to be able to give us feedback. If you've had a brainwave or have just spotted something that needs improving then checkout out our <a href="https://github.com/danbartlett/opensit/">README</a>. The intersection of meditation, science and the Internet really excites us, and we want you to help us explore this new opportunity.</p>

	<p>Nearly all of this process is made possible through the wonderful GitHub. If you don't know what git is, let alone a GitHub, check out <a href="http://techcrunch.com/2012/07/14/what-exactly-is-github-anyway/">What exactly is GitHub anyway?</a>
</section>