<section class="page text-section">
  <h1>Contact us</h1>
  <%= image_tag('logomark_trans_lg.png', width: 400) %>

  <p>My name is Dan and I am the founder and primary developer behind OpenSit. I'd love hear how you're finding the site. What works? What could be better? What should we build next? Let me know!</p>

  <div class="email">hel<span style="display:none">foo</span>lo@op<span style="display:none">bar</span>ensit.com</div>

  <p>We're still new, and there's lots to improve upon, and plenty of new features in the pipeline. Check out GitHub to <a href="http://github.com/danbartlett/opensit/issues">see what we're up to</a>!</p>

</section>