<h1>Contact</h1>

<p class="lead">OpenSit is still in alpha, and there's lots to improve upon, and plenty of new features in the pipeline.</p>

<p>The best way to get in contact is through <%= link_to 'submitting feedback or raising a support ticket', 'http://opensit.uservoice.com/' %>. If you are interested in contributing more regularly to OpenSit, or are interested in partnering with us, please email <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#97;&#110;&#98;&#97;&#114;&#116;&#108;&#101;&#116;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'>&#68;&#97;&#110;</a>.</p>