<section class="text-section">
  <h1>Contact us</h1>
  <%= image_tag('logomark_trans_lg.png', width: 500) %>

  <p>OpenSit is still new, and there's lots to improve upon, and plenty of new features in the pipeline.</p>

  <p>My name is Dan and I am the founder and primary developer behind OpenSit. I'd love hear how you're finding the site. What works? What could be better? Let me know!</p>

  <div class="email">hel<span style="display:none">foo</span>lo@op<span style="display:none">bar</span>ensit.com</div>

  <p>If you're having trouble with the site you can also <%= link_to 'submit feedback or raise a support ticket on UserVoice', 'http://opensit.uservoice.com/' %>.</p>

</section>