<section class="text-section">

	<h1>Contribute to OpenSit</h1>

	<p class="one-line">OpenSit is an open community - you can help us build it!</p>

	<p>If you can code, you can get get stuck in straight away with our Getting Started wiki.</p>

	<p>The main element that allows this OpenSit is open source - you can view and download the code at http://github.com/danbartlett/opensit/</p>

	<p>What does that mean in practice?</p>
	<ul>
		<li>Anyone can view the code behind OpenSit.</li>
		<li>Anyone can suggest changes, write features and improve functionality.</li>
		<li>Collaborators are not paid employees motivated by pay or deadlines, but people who care enough to contribute freely.</li>
		<li>Collaborators are geeks who are passionate about security, stability and elegant code - things that commercial products often undervalue at first until the codebase is a sprawling mess or the service is hacked.</li>
		<li>There's even open source cola now - http://en.wikipedia.org/wiki/Open_source_cola</li>
	</ul>

	* Flexibility
	* Transparency

	Example:
	A new headset comes out, capable of recording brain activity at a cost and accuracy not previously available.
	User 1, 2, 3 work together on a plugin that can translate the headset output of a meditation sit into some processable format.
	User 4 adds code that render the data into a neat graph.
	User 5 mocks up an interface for including this in the site.
	Admin looks at how this fits in with the rest of the site - rejects some changes.
	User 4 adds x feature
	Admin approves
	Feature goes live in the next release (which could be as quick as next week)

	Nearly all of this process is made possible through the wonderful GitHub - http://techcrunch.com/2012/07/14/what-exactly-is-github-anyway/
	Open Source doesn't mean it's a free for all. There are still processes and checks. Any submitted change has to be accepted by the owner of the project owner.

	I work in web development and I have experience in all parts of the software cycle, so I hope that by combining the focus of guidelines and a peer review system we can harness the power of open source whilst also creating a great looking cutting edge service.
	There would also be style and development guidelines available for anyone wishing to contribute.
	OPEN SOURCE
	helps with our own education. helps teach others. helps build something wonderful together. support mindfulness, support coders. Charities?