<%= render 'shared/brand_header' %>

<div class="jumbotron">
  <h1>Where meditators meet.</h1>
  <p>OpenSit is a place to share and develop your meditation practice.</p>
  <a href="<%=new_user_registration_path%>"><button class="sign-up btn btn-lg btn-primary">Sign up for free</button></a>
</div>

<div class="three-panes">
  <div class="pane col-lg-offset-1 col-lg-3">
    <i class="fa fa-book"></i>
    <h2>Start a meditation journal</h3>
    <p>How has meditation practice changed you? Start sharing your practice today.</p>
  </div>
  <div class="pane col-lg-3">
    <i class="fa fa-globe"></i>
    <h2>Explore together</h2>
    <p>You don't have to do it alone! Follow your friends and explore other peoples meditation journals.</p>
  </div>
  <div class="pane col-lg-3">
    <i class="fa fa-bolt"></i>
    <h2>Deepen your practice</h2>
    <p>Get feedback, support and inspiration from others, and give your meditation practice a boost.</p></div>
  </div>
</div>

<div class="copy">
  <h1>Join our online sangha!</h1>
  <p>OpenSit is a community where meditators can share their meditation practice online. Need tips or advice on how to meditate? Or maybe you're already a closet Zen master! We are a community made up of folks of all levels of experience, all walking the same dharma path. Whether you practice Vipassana, mindfulness, Buddhist meditation or even prayer, <a href="<%=new_user_registration_path%>">join for free today</a>.</p>
  <p><strong>Like what you see? Tell others about it!</strong></p>
  <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='5237488'></div>
</div>

<div class="padder">
  <div class="sit-container">
    <% @sits.each do |sit| %>
      <%= render :partial => 'shared/sit_teaser_block', :locals => { :sit => sit, :width => '2' } %>
    <% end %>
  </div>
</div>

