<%= render 'shared/brand_header' %>

<div class="jumbotron">
  <h1>Where meditators meet.</h1>
  <p>OpenSit is a place to share and develop your meditation practice.</p>
  <a href="<%=new_user_registration_path%>"><button class="sign-up btn btn-lg btn-primary">Sign up for free</button></a>
</div>

<div class="three-panes">
  <div class="pane col-lg-offset-1 col-lg-3">
    <i class="fa fa-book"></i>
    <h3>Start your journal today</h3>
    <p>What do you practice and how has it changed you? Share your practice.</p>
  </div>
  <div class="pane col-lg-3">
    <i class="fa fa-globe"></i>
    <h3>Social Meditation</h3>
    <p>You don't have to do it alone! Follow your friends and explore other peoples journals.</p>
  </div>
  <div class="pane col-lg-3">
    <i class="fa fa-bolt"></i>
    <h3>Improve your practice</h3>
    <p>Get feedback, support and inspiration from others, and give your practice a boost.</p></div>
  </div>
</div>

<div class="padder">
  <div class="sit-container">
    <% @sits.each do |sit| %>
      <%= render :partial => 'shared/sit_teaser_block', :locals => { :sit => sit, :width => '2' } %>
    <% end %>
  </div>
</div>
