<% if @user.streak > 1 %>
  <div class="streak" title="<%= @user == current_user ? 'You have' : "#{@user.display_name} has" %> sat for <%=@user.streak%> days in a row!"><span class="label label-success">
  <span class="fa fa-bolt"></span>
  <%=@user.streak%> day streak!</span></div>
<% end %>