<h1>Recent sits</h1>

<% @sits.each do |sit| %>
  
  <%= render :partial => 'shared/sit-teaser', :locals => { :sit => sit } %>

<% end %>

<%= will_paginate @sits, :class => 'pagination pagination-centered' %>

<%= link_to 'New Sit', new_sit_path %>
