@import 'grid';

/**
 * GLOBAL LAYOUT
 ****************/

/* Semantic.gs setup */
$column-width: 60px;
$gutter-width: 20px;
$columns: 12;
$total-width: 100%;
$max-width: 1000px;

/* Centred-aligned main container */
#base-container {
  width: $total-width;
  max-width: $max-width;
  margin: 0 auto;
}

/* Pull navbar in to width of base layout */
.navbar-inner .container {
  max-width: $max-width !important;
}

/* Navbar text a bit smaller */
#main-header {
  ul a {
    font-size: 0.9em;
  }
  .btn {
    font-size: 0.9em;
    margin-right: 10px;
  }
}

/* Section container for pages that have more than one column */
.section {
  float: left;
  width: 100%;
}

/* Footer */
footer {
  width: 100%;
  float: left;
  margin-top: 20px;
}

/* Forms */
.basic-form {
  @include column(10);
  margin: 0 10px 0 0;
}

/**
 * MAIN PAGES
 ****************/

/* Front page */
.front-page {
  section,
  footer {
    float: left;
    clear: left;
  }
  .three-panes div {
    @include column(4);
  }
}

/* View sit */
.view-sit {
  padding-top: 10px; /* no h1 at top so */
  section {
    @include column(3);
  }
  .sit {
    @include column(9);
  }
}

/* View profile */
.view-profile {
  .sidebar {
    @include column(3);
  }
  .profile {
    @include column(9);
  }
}

/* View profile: responsive test */
@media screen and (max-width: 700px) {
  .view-profile {
    .sidebar {
      @include column(12);
    }
    .profile {
      @include column(12);
    }
  }
}
