/* Stop width-jumps by putting scrollbars on all pages */
html {
  overflow-y: scroll;
}

body { 
  width: 100%; 
  padding-top: 50px;
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

label {
  display: inline !important;
}