/* Stop width-jumps by putting scrollbars on all pages */
html {
  overflow-y: scroll;
}

body { 
  width: 100%; 
  padding-top: 50px; /* Due to fixed nav bar */
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

label {
  display: inline !important;
}

.hidden {
  display: none;
}

/* Navbar text a bit smaller */
#main-header {
  ul a {
    font-size: 0.9em;
  }
  .btn {
    font-size: 0.9em;
    margin-right: 10px;
  }
  .explore {
    font-weight: bold;
  }
  .logout {
    font-size: 1.2em;
  }
}

.sidebar {
  img {
    padding: 3px;
    border: 1px solid #CCC;
    -moz-box-shadow: 5px 5px 3px #888;
    -webkit-box-shadow: 5px 5px 3px #888;
    box-shadow: 5px 5px 3px #888;
  }
}

/* Fix strange bug with bootstrap radio buttons */
.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: none !important;
  margin: 0 5px 4px -18px;
}