@import 'opensit/base';

.goals {
	.current_goals {
		width: 100%;
	}
	.goal {
		float: left;
		width: 100%;
		margin: 0.5em 0;
		.rating {
			float: left;
			width: 10%;
		}
		.content {
			float: left;
			width: 90%;
			.goal-stats {
				color: $dark-grey;
				font-size: 0.9em;
			}
		}
	}
	.new-goal {
		text-align: center;
	}
	#new_goal_form {
		text-align: center;
		#goal_duration {
		  display: inline;
		  width: 63px;
		  font-size: 30px;
		  height: 47px;
		}
		#goal_type {
			display: inline;
		  width: 200px;
		}
		.toggle-option {
		  width: 50px;
		  display: inline;
		}
		.ongoing_toggle,
		.fixed_toggle {
			color: $dark-grey;
			font-size: 0.8em;
			margin-left: 20px;
		}
		.fixed_toggle {
			display: none;
		}
		.i-will {
			font-size: 1.4em;
		}
		.mins-per-day {
			font-size: 1em;
		}
	}
}