@import 'opensit/base';

.goals {
	.current_goals {
		width: 100%;
	}
	.goal {
		float: left;
		width: 100%;
		margin: 0.5em 0;
		height: 65px;
		.content {
			float: left;
			width: 90%;
			padding-left: 10px;
			.goal-stats {
				color: $dark-grey;
				font-size: 0.9em;
			}
		}
	}
	.new-goal {
		text-align: center;
	}
	#new_goal_form {
		text-align: center;
		#goal_duration {
		  display: inline;
		  width: 63px;
		  font-size: 30px;
		  height: 47px;
		}
		#goal_type {
			display: inline;
		  width: 200px;
		}
		.toggle-option {
		  width: 50px;
		  display: inline;
		}
		.ongoing_toggle,
		.fixed_toggle {
			color: $dark-grey;
			font-size: 0.8em;
			margin-left: 20px;
		}
		.fixed_toggle {
			display: none;
		}
		.i-will {
			font-size: 1.4em;
		}
		.mins-per-day {
			font-size: 1em;
		}
	}
	.finish-goal {
		font-size: 0.8em;
		display: none;
	}
	.show-completed {
		font-size: 0.8em;
		font-weight: bold;
		margin-top: 2em;
		float: left;
	}
	.completed-goals {
		display: none;
	}
}

// Rating
.rating {
	color: white;
	border-radius: 5px;
	float: left;
	padding: 4px;
	font-size: 15px;
	font-weight: bold;
}
.rating-red {
	background: #d9534f;
}
.rating-amber {
	background: #f0ad4e;
}
.rating-green {
	background: #5cb85c;
}
.rating-gold {
	background: black;
}

// Me page module
.current-goals {
	float: left;
	.goal-summary {
		float: left;
		.rating {
			float: left;
			span {
				width: 45px;
				height: 40px;
			}
		}
		.text {
			float: left;
			font-size: 0.7em;
			margin-top: 8px;
		}
	}
	a {
		float: right;
		width: 100%;
		text-align: right;
	}
}