.msg-overview {
	.unread {
		width: 30px;
		padding-top: 22px;
		font-size: 2em;
		color: #695c8c;
	}
	.msg-avatar {
		width: 55px;
	}
	.msg-username {
		font-size: 0.8em;
		font-weight: bold;
	}
	.clickable-row {
		display: block;
		height: 50px;
		&:hover {
			text-decoration: none;
		}
	}
	.msg-received {
		float: right;
		font-size: 0.8em;
		color: #999;
	}
	.msg-delete {
		float: right;
		font-size: 0.7em;
		font-weight: bold;
		color: #ccc;
	}
}

.view-message {
	.body {
		margin-top: 20px;
	}
	.from {
		float: right;
		margin-top: 20px;
	}
	.date {
		float: right;
		clear: right;
		font-size: 0.8em;
		font-weight: bold;
		color: #999;
	}
	.delete {
		float: right;
		clear: right;
		font-size: 0.8em;
		a {
			color: #999;
		}
	}
}

#new_message {
	.control-label {
		width: 70px;
	}
	.controls {
		margin-left: 100px;
	}
	input[type="submit"] {
		float: right;
		margin-right: 104px;
	}
}