@import 'grid';
@import 'opensit-mixins';

/**
 * GLOBAL LAYOUT
 ****************/

/* Semantic.gs setup */
$column-width: 60px;
$gutter-width: 20px;
$columns: 12;
$total-width: 100%;
$max-width: 1000px;

html, body {
  height: 100%;
  width: 100%; 
}

/* Stop width-jumps by putting scrollbars on all pages */
html {
  overflow-y: scroll;
}

/* Sticky footer */
$footer-height: 145px;

/* Global container */
.base-container {
  min-height: 100%;
  /* All content */
  .page-content {
    padding-top: 80px; /* Due to fixed nav bar */
    overflow:auto;
    padding-bottom: $footer-height;
    width: $total-width;
    max-width: $max-width;
    margin: 0 auto;
  }
}

/* Pull navbar in to width of base layout */
.navbar-inner .container {
  max-width: $max-width !important;
}

/* Section container for pages that have more than one column */
.pagination-container {
  margin: 20px 0 0 0;
  width: 100%;
  float: left;
  text-align: center;
}

/* Give content some padding between footer without breaking sticky footer */
.spacer {
  float: left;
  clear: both;
  height: 40px;
}

/* Sidebar modules */
.nav-module {
  @include box-model;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
}

/* Footer */
footer {
  background: #f2f2f2;
  border-top: 1px solid #CCC;
  position: relative;
  margin-top: -$footer-height; /* negative value of footer height */
  height: $footer-height - 1;
  clear: both;
  .footer-container {
    width: $total-width;
    max-width: $max-width;
    margin: 0 auto;
    text-align: center;
    .footer-brand {
      font-family: 'Pacifico';
      font-size: 2em;
      margin: 30px 0 15px;
    }
    .footer-text {
      font-size: 12px;
      font-weight: bold;
    }
    .footer-links { 
      margin: 10px 0;
      font-size: 12px;
      li {
        display: inline;
      }
    }
  }
}

/* Forms */
.basic-form {
  @include column(10);
  margin: 0 10px 0 0;
}

.loading-indicator {
  display: none;
  float: left;
  clear: both;
  margin-left: 390px;
  margin-top: -29px;
}

/**
 * MAIN PAGES
 ****************/

/* Front page */
.front-page {
  .hero-unit {
    margin: 30px 0;
    float: left;
    padding: 60px 50px 30px 50px;
    .left {
      float: left;
      width: 60%;
      h1 {
        margin-bottom: 30px;
      }
    }
    .right {
      float: right;
      width: 40%;
      form {
        margin-top: 12px;
        float: right;
        div {
          margin: 10px 0;
        }
        input[type="email"],
        input[type="text"],
        input[type="password"] {
          border-radius: 10px;
          line-height: 26px;
          font-size: 20px;
          height: 40px;
          width: 300px;
        }
      }
    }
  }
  .three-panes {
    float: left; 
    margin: 30px 0;
    .pane {
      @include box-model;
      float: left;
      width: 33%;
      padding: 10px 20px;
      text-align: center;
      i {
        color: #695c8c;
        font-size: 5em;
      }
    }
  }
  .explore {
    margin-top: 2em;
  }
}

/* Explore module */
.explore-module {
  float: left;
  width: 100%;
  .global-sitstream {
    @include column(6);
    .sit-teaser {
      width: 95%;
    }
  }
  .right-column {
    @include column(6);
    .new-arrivals {
      width: 100%;
      margin-top: 30px;
      float: left;
      .user {
        float: left;
        width: 100%;
        margin: 5px 0;
        img {
          margin-right: 10px;
        }
      }
    }
  }
}

/* Tag cloud */
#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 1em; }
  .m { font-size: 1.4em; }
  .l { font-size: 2em; }
}
