@import 'grid';

/**
 * GLOBAL LAYOUT
 ****************/

/* Semantic.gs setup */
$column-width: 60px;
$gutter-width: 20px;
$columns: 12;
$total-width: 100%;
$max-width: 1000px;

/* Centred-aligned main container */
.base-container {
  width: $total-width;
  max-width: $max-width;
  margin: 0 auto;
}

/* Pull navbar in to width of base layout */
.navbar-inner .container {
  max-width: $max-width !important;
}

/* Section container for pages that have more than one column */
.section {
  float: left;
  width: 100%;
  .sidebar {
    @include column(3);
  }
  .content {
    @include column(9);
  }
}

/* Footer */
footer {
  width: 100%;
  float: left;
  margin-top: 50px;
}

/* Forms */
.basic-form {
  @include column(10);
  margin: 0 10px 0 0;
}

/**
 * MAIN PAGES
 ****************/

/* Front page */
.front-page {
  section,
  footer {
    float: left;
    clear: left;
  }
  .three-panes div {
    @include column(4);
  }
  #global-sitstream {
    margin-top: 2em;
  }
}

.explore {
  .global-sitstream {
    @include column(6);
    .sit-teaser {
      width: 95%;
    }
  }
  .tags {
    @include column(6);
  }
}
#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

/* View profile: responsive test */
@media screen and (max-width: 700px) {
  .section {
    .sidebar {
      @include column(12);
    }
    .content {
      @include column(12);
    }
  }
}
