/* Bootstrap alignment fixes */
label {
  display: inline !important;
}

.hidden {
  display: none;
}

/* Navbar */
#main-header {
  .navbar-inner {
    height: 65px;
    font-size: 12px;
    .container {
      padding-top: 10px;
    }
    .dropdown-menu a {
      font-size: 12px;
    }
  }
  .btn {
    margin-right: 10px;
    font-size: 12px;
  }
  .logout {
    font-size: 1.2em;
  }
  .nav.pull-right {
    margin-right: -30px;
  }
  .dropdown-toggle {
    margin: -1px 10px 0 20px;
    // Black caret
    // .caret {
    //   border-top-color: #333;
    //   border-bottom-color: #333;
    // }
  }
}

/* Logo */
.brand {
  font-family: 'Pacifico';
  padding: 7px 37px 10px 0px !important;
  font-size: 32px !important;
  text-shadow: 0 2px 0 #CCC !important;
}


/* Sidebar */
.sidebar {
  img {
    padding: 3px;
    border: 1px solid #CCC;
    -moz-box-shadow: 5px 5px 3px #888;
    -webkit-box-shadow: 5px 5px 3px #888;
    box-shadow: 5px 5px 3px #888;
  }
  .nav-module {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
  }
}

/* Message wells */
.well {
  h1 {
    font-weight: normal;
    font-size: 1.5em;
    margin: 0 0 15px;
  }
}

/* Sign in/up */
.sign-in,
.sign-up {
  .well {
    float: none;
    margin: 50px auto 0 auto;
    width: 35%;
    overflow: hidden;
  }
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    margin-top: 10px;
    border-radius: 10px;
    line-height: 26px;
    font-size: 20px;
    height: 40px;
    width: 300px;
  }
  label {
    margin-bottom: 10px;
  }
  .remember {
    margin: 10px 0 20px;
  }
  #user_remember_me {
    margin-top: -1px;
  }
}

/* About page padding */
.about-page {
  margin: 0 4em;
}

/* Fix strange bug with bootstrap radio buttons */
.radio input[type="radio"] {
  float: none !important;
  margin: 0 5px 4px -18px;
}
.checkbox input[type="checkbox"] {
  float: none !important;
  margin: 9px 5px 4px -18px;
}