@import 'grid';

/* Semantic.gs setup */
$column-width: 60px;
$gutter-width: 20px;
$columns: 12;
$total-width: 100%;

#base-container {
  @include column(12);
}

.front-page {
  section,
  footer {
    float: left;
    clear: left;
  }
}

.sidebar {
  @include column(3);
}
.profile {
  @include column(9);
}

body {
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* Sit teaser */
article.sit-teaser {
  float: left;
  width: 100%;
  border-bottom: 1px dotted #666;
  &:hover {
    background: #e2e2e2;
  }
  .side {
    float: left;
    padding: 13px 2% 5px 5px;
    .icons {
      clear: left;
      padding-top: 5px;
    }
  }
  .sit-content {
    width: 90%;
    float: left;
    font-size: 0.85em;
    padding-bottom: 5px;
    .body {
      cursor: pointer;
      font-size: 1.5em;
      font-family: serif;
      line-height: 1.5em;
      padding: 10px 0;
    }
    header {
      display: inline;
    }
    .sit-meta {
      float: right;
      opacity: 0.5;
      a,
      i {
        padding-right: 5px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

/* Sit full */
article.sit-full {
  .body {
    font-family: serif;
    font-size: 1.8em;
    line-height: 1.5;  
  }
}

/* New sit */
section.new-sit {
  .title {
    display: none;
  }
}
