@import 'opensit/base';

/* Sit teaser */
article.sit-teaser {
  @include box-model;
  background: white;
  float: left;
  width: 100%;
  border-bottom: 1px solid $light-border;
  padding: 10px 10px;
  &:hover {
    cursor: pointer;
    background: #eee;
  }
  /* Avatar */
  .side {
    float: left;
    padding: 3px 2% 5px 5px;
  }
  .sit-content {
    margin-left: 70px;
    padding-bottom: 5px;
    .top {
      font-size: 0.9em;
      opacity: 0.7;
      a {
        color: #333;
      }
    }
    .body {
      padding: 5px 0;
      width: 97%;
      font-size: 0.8em;
    }
  }
  /* Lock icon for private events */
  .private-event {
    margin-top: -15px;
  }
}

/* Sit teaser block */
article.sit-teaser-block {
  float: left;
  padding: 0 10px 10px 0;
  .block-content {
    @include rounded-bottom;
    border-radius: 5px;
    float: left;
    border: 1px solid $light-border;
    background: #fff;
    margin: 0 0 10px 0;
    &:hover {
      cursor: pointer;
      background: #eee;
    }
  }
  .body {
    margin: 10px;
    padding: 5px;
    width: 92%;
    font-size: 0.8em;
  }
  .bottom-row {
    font-size: 0.7em;
    float: left;
    width: 100%;
    border-top: $green 3px solid;
    background: #fff;
    border-radius: 0 0 5px 5px;
    .avatar {
      float: left;
      width: 50px;
      margin: 10px;
    }
    .details {
      float: left;
      margin-top: 7px;
      width: calc(100% - 70px);
      padding-right: 1em;
      .author-title {
        height: 34px;
      }
      .meta {
        font-size: 0.9em;
        text-align: right;
        width: 100%;
        margin: 3px 5px 0 0;
        color: $dark-grey;
        opacity: 0.5;
        .fa-heart,
        .fa-comment {
          padding-left: 5px;
        }
      }
    }
  }
  /* Lock icon for private events */
  .private-event {
    margin-top: -15px;
  }
}

/* View sit */
.view-sit {
  h1.sit-title {
    text-align: center;
    font-size: 2.5em;
  }
  .text-section {
    .sit-stats {
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
      opacity: 0.5;
      font-size: 0.9em;
      .stat {
        display: inline-block;
        margin-right: 10px;
        .glyphicon-tags {
          margin-right: 5px;
        }
        .tag-label {
          margin: 0 2px;
          background-color: $dark-grey;
          &:hover {
            background: #777;
          }
        }
      }
    }
    .full-sit-date {
      float: right;
      margin: 12px;
      color: $dark-grey;
    }
    .body {
      font-size: 1.1em;
      line-height: 1.5;
      margin: 0 30px;
      li {
        margin: 10px 0;
        line-height: 1.5;
      }
    }
    .interactions {
      float: left;
      width: 100%;
      border-top: 1px $light-border solid;
      margin-top: 3em;
      padding: 1em 0 0em;
      color: $dark-grey;
      font-size: 0.9em;
      .save-it-text {
        margin-left: 30px;
      }
      .toggle-favourite {
        font-size: 2em;
        margin: -5px 0 0 44px;
      }
      #who_likes {
        margin: 0px 0 5px 0;
        width: 100%;
        float: left;
        text-align: center;
      }
      .toggle-like {
        font-size: 2em;
      }
      .share-buttons {
        text-align: right;
        a {
          margin-right: 20px;
          font-size: 2em;
        }
        .share-it {
          margin-right: 48px;
        }
      }
    }
    .col-centered {
      float: none;
      text-align: center;
      margin-bottom: -30px;
    }
    .private-warning {
      float: left;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
      font-size: 0.9em;
      padding: 10px;
      background: #f5f5f5;
    }
  }
  .comments {
    @include box-model;
    padding: 60px 0 30px 0;
    float: left;
    width: 100%;
    h3 {
      margin-bottom: 20px;
      color: $dark-grey;
    }
    .comment {
      @include box-model;
      float: left;
      width: 100%;
      padding: 10px;
      border-top: 1px solid #CCC;
      .comment-body {
        margin: 20px 0;
        font-size: 0.9em;
      }
      .user {
        float: right;
        font-size: 0.85em;
        // opacity: 0.7;
        font-style: italic;
        margin: 10px 0 5px;
      }
    }
    .new_comment {
      width: 98%;
      margin-left: 9px;
      .wysihtml5-toolbar {
        display: none;
      }
    }
  }
  .back-button {
    margin-left: 20px;
    margin-bottom: 15px;
  }
}

/* New sit */
.new-sit,
.edit-sit {
  .sit_type {
    margin-bottom: 2em;
    label {
      font-size: 18px;
    }
  }
  .new-sit-title {
    display: none;
    clear: left;
  }
  #sit_duration {
    display: inline;
    width: 63px;
    font-size: 30px;
    height: 47px;
  }
  .privacy-options {
    float: right;
    .dropdown-menu {
      padding: 5px 18px 18px 0;
      margin-left: -145px;
      width: 235px;
    }
  }
  .sit_body {
    clear: left;
  }
  .delete-entry {
    margin-left: 10px;
  }
}

/* Journal next/prev and date */
.sidebar .sit-meta {
  border-top: $green 3px solid;
  background: #fff;
  .date {
    text-align: center;
    font-size: 21px;
    margin: 15px;
  }
  .pager {
    li a {
      display: inline-block;
      width: 50%;
      height: 50px;
      padding: 12px 14px 5px 14px;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;
      border-left: 0;
      border-right: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      &:hover {
        background: #eee;
      }
    }
    .disabled {
      color: #999;
      background-color: #eee;
      height: 50px;
      padding-top: 14px;
    }
    .previous .disabled {
      height: 50px;
      padding: 14px 26px 5px 14px;
      float: left;
    }
  }
  .sit-tags {
    margin-bottom: 15px;
    text-align: center;
    .glyphicon {
      margin-right: 10px;
    }
    .label {
      display: inline-block;
      font-size: 95%;
      font-weight: normal;
      margin: 3px;
    }
  }
  .journal-stats {
    text-align: center;
    font-size: 0.8em;
    opacity: 0.8;
    padding: 0 15px;
    margin-bottom: 15px;
  }
}