/* Sit teaser */
article.sit-teaser {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 7px;
  &:hover {
    cursor: pointer;
    background: #eee;
  }
  /* Avatar */
  .side {
    float: left;
    padding: 3px 2% 5px 5px;
  }
  .sit-content {
    margin-left: 70px;
    font-size: 0.85em;
    padding-bottom: 5px;
    .top {
      font-size: 0.9em;
      opacity: 0.7;
      a {
        color: #333;
      }
    }
    .body {
      padding: 5px 0;
    }
  }
}

/* Sit full */
article.sit {
  .full-sit-date {
    float: right;
    color: #666;
  }
  .my-actions {
    clear: both;
    float: right;
  }
  .body {
    font-family: "Georgia", serif;
    font-size: 1.8em;
    line-height: 1.5;  
  }
  .tags {
    float: right;
    .tag-label {
      margin-left: 5px;
    }
  }
  .actions {
    clear: both;
    float: right;
    margin: 10px 0;
  }
  .action-bar {
    float: left;
    width: 100%;
    padding: 10px;
    background: #e2e2e2;
    border-radius: 5px;
    font-size: 1.3em;
    margin: 20px 0 0 0;
    a {
      color: black;
    }
    .previous {
      float: left;
    }
    .next {
      float: right;
    }
    .no-more {
      color: #999;
    }
    i {
      margin-top: 6px;
    }
  }
  #new_comment {
    float: left;
    margin-top: 30px;
  }
  .comments {
    padding: 30px 0;
    float: left;
    width: 100%;
    .comment { 
      float: left;
      width: 100%;
      padding: 10px;
      border-top: 1px solid #CCC;
      .comment-body {}
      .user {
        float: right;
        font-size: 0.85em;
        opacity: 0.7;
      }
    }
  }
}

/* New sit */
section.new-sit {
  .new-sit-title {
    display: none;
  }
  #sit_duration {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}