.sidebar {
	.sidebar-content {
    padding-left: 10px;
    font-size: 14px;
    .username {
      margin: 25px 0 15px;
      font-size: 1.7em;
      font-weight: normal;
    }
    .user-info {
      float: left;
      width: 100%;
      margin: 5px 0;
      .icon {
        width: 20px;
        float: left;
      }
      .detail {
        float: left;
      }
    }
		.stats {
			float: left;
			padding: 20px;
		  overflow: auto;
		  a {
		    float: left;
		    padding: 0 10px;
		    border-left: 1px solid #CCC;
		    color: gray;
		    &:first-child {
		      padding-left: 0;
		      border: 0;
		    }
		  }
		  strong {
		    display: block;
		  }
		}
		#follow_form {
			float: left;
			width: 75%;
			text-align: center;
		}
  }
  .avatar-container {
  	width: 200px;
  	height: 200px;
  }
}

// My sidebar
.sidebar-me {
	font-size: 12px;
	float: left;
	width: 90%;
	.top-row {
		float: left;
		width: 100%;
		text-align: right;
		.my-avatar {
			float: left;
			height: 50px;
			width: 50px;
		}
		.my-basics {
			float: right;
			width: 135px;
			.username {
				float: right;
				font-size: 16px;
				font-weight: bold;
			}
			.my-location {
				float: right;
				clear: left;
			}
		}
	}
	.stats {
		float: right;
	}	
}

.my-latest {
	font-size: 12px;
	float: left;
	clear: left;
	p {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.event {
		margin: 5px 0;
		float: left;
		width: 100%;
		.date {
			float: right;
			font-size: 0.9em;
			font-style: italic;
		}
	}
}

// Feed icon on sits / bio
.user-sit-feed {
	float: right;
	clear: left;
  font-size: 20px;
  margin-top: 10px;
}

// View profile
.view-profile {
	.edit-profile-btn {
		float: right;
		margin: 0 0 10px 0;
	}
	.lead {
		clear: both;
		margin: 0 20px 30px 20px;
	}
	.profile-field {
		margin: 20px;
	}
}

// Edit profile
.edit-profile {
	.avatar-box {
		width: 42%;
		text-align: center;
		float: right;
		p {
			margin-bottom: 20px;
		}
		input {
			margin: 20px 0 0 90px;
			@extend .btn;
		}
	}
	.control-group {
		float: left;
		clear: left;
	}
	.update-details {
		float: left;
		width: 100%;
		text-align: center;
		margin: 20px 0;
		.btn-large {
			margin: 0 auto;
			float: none;
			clear: left;
		}
	}
	.contemplative-profile {
		float: left;
		width: 100%;
		.control-group {
			margin: 20px 0;
			width: 100%;
		}
		.help-block {
			font-size: 0.9em;
			color: #666;
			float: left;
			clear: left;
		}
		.wysihtml5-toolbar {
			display: none;
		}
	}
}