<footer id="main-footer"> 
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="/admin">Admin</a></li>
          <li><a href="#">Feedback</a></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>