<footer>
  <div class="container">
    <div class="copyright-holder col-md-12">
      <p class="copyright">Powered by &copy; 2013-<%= Time.now.year %> <a href="http://opensit.com">OpenSit</a></p>
    </div>
  </div>
</footer>
