<footer>
  <div class="container">
    <div class="copyright-holder col-md-12">
      <p class="copyright">Powered by <a href="http://opensit.com">OpenSit</a> &copy; 2013-<%= Time.now.year %></p>
    </div>
  </div>
</footer>
